<?php
    $invoiceData = $block->getData('invoice_data');
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $tableData = $objectManager->get('Omnyfy\Mcm\Controller\Adminhtml\PayoutHistory\VendorInvoice');
    $invoiceFrom = $tableData->getInvoiceFrom($invoiceData);
?>
<body class="vendor_invoice">
    <!--HEADING-->
    <div style="font-size: 16px; margin-bottom: 30px; font-family: Arial, Helvetica, sans-serif">
        <b style="font-size: 24px"><?= __('Vendor Payout Invoice') ?></b> <br>
        <b style="font-size: 16px; margin-top: 20px"><?= $tableData->getMoName() ?></b>
    </div>

    <table class="header" cellpadding="5px" style="table-layout: fixed; width: 100%; line-height: 10px; font-size: 13px; font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td style="text-align: left;">
                <b><?= __('Invoice To') ?></b>
            </td>
            <td style="text-align: right;">
                <b><?= __('Invoice from') ?></b>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;"> <?= $invoiceData->getVendorName() ?> </td>
            <td style="text-align: right;"><?= $tableData->getMoName() ?></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;"> <?= __('Tax Number: ') .  $invoiceFrom['tax_number']?> </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <?= $invoiceFrom['address_line1'] . ' ' . $invoiceFrom['address_line2'] ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <?= $invoiceFrom['city'] . ' ' . $invoiceFrom['post_code'] . ' ' . $invoiceFrom['region_name'] ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <?= $invoiceFrom['country_name'] ?>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">
                <b><?= __('Tax Invoice') ?></b>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">
                <?= __('Invoice #: ') . $invoiceData->getIncrementId() ?>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">
                <?= __('Invoice Date: ') . $tableData->getDateFormat($invoiceData);  ?>
            </td>
        </tr>
    </table>

    <!--INVOICE BODY-->
    <?php foreach ($invoiceData->getAllInvoiceOrders() as $key => $order): ?>
        <?php $vendorData = $tableData->getVendorTableData($order); ?>
        <div style="margin-top: 30px;"></div>
        <table class="vendor-item" cellpadding="5px" style="table-layout: fixed; width: 100%; line-height: 10px; background-color: #ebebef; display: inline-table; font-size: 12px; font-family: Arial, Helvetica, sans-serif">
            <tr style="line-height: 20px;">
                <td style="width: 14%;"><?= __('Order ID') ?></td>
                <td style="width: 13%;"><?= __('Order Total (incl. tax)') ?></td>
                <td style="width: 12%;"><?= __('Shipping (incl. tax)') ?></td>
                <td style="width: 13%;"><?= __('Tax Included in Order') ?></td>
                <td style="width: 13%;"><?= __('Fees Total (incl. tax)') ?></td>
                <td style="width: 13%;"><?= __('Tax Included in Fees') ?></td>
                <td style="width: 11%;"><?= __('Rebates Paid') ?></td>
                <td style="width: 11%;"><?= __('Payout Amount') ?></td>
            </tr>
            <tr style="line-height: 20px;">
                <td style="width: 14%; word-wrap: break-word;"><b><?= $vendorData['increment_id'] ?></b></td>
                <td style="width: 13%;"><b><?= $vendorData['order_total_incl_tax'] ?></b></td>
                <td style="width: 12%;"><b><?= $vendorData['shipping_total_order'] ?></b></td>
                <td style="width: 13%;"><b><?= $vendorData['order_total_tax'] ?></b></td>
                <td style="width: 13%;"><b><?= $vendorData['fees_total_incl_tax'] ?></b></td>
                <td style="width: 13%;"><b><?= $vendorData['fees_total_tax'] ?></b></td>
                <td style="width: 11%;"><b><?= $vendorData['rebate'] ?></b></td>
                <td style="width: 11%;"><b><?= $vendorData['payout_amount'] ?></b></td>
            </tr>
        </table>

        <!--ORDER ITEM BODY-->
        <div style="margin-top: 10px;"></div>
        <table class="order-item" cellpadding="5px" style="table-layout: fixed; width: 100%; border-collapse: collapse; line-height: 10px; display: inline-table; font-size: 12px; font-family: Arial, Helvetica, sans-serif">
            <tr style="line-height: 20px; background-color: #F6F6F8;">
                <td style="width: 17%;"><?= __('SKU') ?></td>
                <td style="width: 24%;"><?= __('Item Name') ?></td>
                <td style="width: 17%; text-align: right"><?= __('Item Price (paid by customer)') ?></td>
                <td style="width: 16%; text-align: right"><?= __('Cost Price') ?></td>
                <td style="width: 10%; text-align: right"><?= __('Qty') ?></td>
                <td style="width: 16%; text-align: right"><?= __('Subtotal') ?></td>
            </tr>
            <?php $orderItems = $tableData->getOrderItems($order->getOrderId()); ?>
            <?php foreach ($orderItems as $itemKeys => $itemOrder): ?>
                <?php if ($itemOrder->getVendorId() == $invoiceData->getVendorId()): ?>
                    <?php if ($itemOrder->getProductType() == "configurable"): ?>
                        <?php $childItems = $itemOrder->getChildrenItems(); ?>
                        <?php foreach ($childItems as $itemKey => $item): ?>
                            <tr>
                                <td style="width: 17%; word-wrap: break-word; line-height: 20px;">
                                    <?= $item->getSku(); ?>
                                </td>
                                <td style="width: 24%; word-wrap: break-word; line-height: 20px;">
                                    <?= $item->getName(); ?>
                                </td>
                                <td style="width: 17%; text-align: right">
                                    <?= $tableData->currency($item->getPrice()); ?>
                                </td>
                                <td style="width: 16%; text-align: right">
                                    <?= $tableData->currency($item->getBaseCost()); ?>
                                </td>
                                <td style="width: 10%; text-align: right">
                                    <?= $item->getQtyOrdered() * 1; ?>
                                </td>
                                <td style="width: 16%; text-align: right">
                                    <?= $tableData->currency($itemOrder->getRowTotal()); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td style="width: 17%; word-wrap: break-word; line-height: 20px;">
                                <?= $itemOrder->getSku(); ?>
                            </td>
                            <td style="width: 24%; word-wrap: break-word; line-height: 20px;">
                                <?= $itemOrder->getName(); ?>
                            </td>
                            <td style="width: 17%; text-align: right">
                                <?= $tableData->currency($itemOrder->getPrice()); ?>
                            </td>
                            <td style="width: 16%; text-align: right">
                                <?= $tableData->currency($itemOrder->getBaseCost()); ?>
                            </td>
                            <td style="width: 10%; text-align: right">
                                <?= $itemOrder->getQtyOrdered() * 1; ?>
                            </td>
                            <td style="width: 16%; text-align: right">
                                <?= $tableData->currency($itemOrder->getRowTotal()); ?>
                            </td>
                        </tr>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </table>
    <?php endforeach; ?>

    <!--FOOTER TOTAL-->
    <div style="margin-top: 30px;"></div>
    <table cellpadding="5px" style="table-layout: fixed; width: 100%; line-height: 10px; display: inline-table; font-size: 12px; font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td style="width: 50%"></td>
            <td style="text-align: right; width: 35%">
                <b><?= __('Order Total (incl. tax):') ?></b>
            </td>
            <td style="text-align: right; width: 15%">
                <b><?= $tableData->currency($invoiceData->getOrdersTotalInclTax()) ?></b>
            </td>
        </tr>
        <tr>
            <td style="width: 50%"></td>
            <td style="text-align: right; width: 35%">
                <b><?= __('Tax Included in Order:') ?></b>
            </td>
            <td style="text-align: right; width: 15%">
                <b><?= $tableData->currency($invoiceData->getOrdersTotalTax()) ?></b>
            </td>
        </tr>
        <tr>
            <td style="width: 50%"></td>
            <td colspan="2" style="width: 25%; border-bottom: solid 1px #000000"></td>
        </tr>
        <tr>
            <td style="width: 50%"></td>
            <td style="text-align: right; width: 35%">
                <b><?= __('Fees Total Payable (incl. tax):') ?></b>
            </td>
            <td style="text-align: right; width: 15%">
                <b><?= $tableData->currency($invoiceData->getFeesTotalInclTax()) ?></b>
            </td>
        </tr>
        <tr>
            <td style="width: 50%"></td>
            <td style="text-align: right; width: 35%">
                <b><?= __('Tax Included in Fees:') ?></b>
            </td>
            <td style="text-align: right; width: 15%">
                <b><?= $tableData->currency($invoiceData->getFeesTotalTax()) ?></b>
            </td>
        </tr>
        <tr>
            <td style="width: 50%"></td>
            <td colspan="2" style="width: 25%; border-bottom: solid 1px #000000"></td>
        </tr>
        <tr style="page-break-after: always;">
            <td style="width: 50%"></td>
            <td style="text-align: right; width: 35%">
                <b><?= __('Total Earnings (incl. tax):') ?></b>
            </td>
            <td style="text-align: right; width: 15%">
                <b><?= $tableData->currency($tableData->totalEarning($invoiceData)) ?></b>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border-bottom: solid 1px #000000;"></td>
        </tr>
    </table>

    <!--FOOTER PAID-->
    <div style="margin-top: 30px;"></div>
    <table cellpadding="5px" style="table-layout: fixed; width: 100%; line-height: 10px; display: inline-table; font-size: 13px; font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td style="text-align: left;">
                <b><?= __('Invoice paid via ') . $tableData->getPayoutType($invoiceData) ?></b><br>
                <p><?= $tableData->getMoName() . __(' on your behalf, charged the customer for the above orders') ?></p>
                <p><?= __('The total amount for the orders in this invoice has been released from ') . $tableData->getPayoutType($invoiceData) ?></p>
            </td>
        </tr>
    </table>
</body>
