<?php
$orderData = $block->getData('order_data');
$orderItems = $block->getData('order_items');
$vendorId = $block->getData('vendor_id');
?>
<body class="vendor_invoice">
    <!--HEADING-->
    <table style="table-layout: fixed; width: 100%; line-height: 10px; font-family: Arial, Helvetica, sans-serif; font-weight: bold">
        <tr>
            <td style="width:80%; font-size: 28px; text-align: left; padding-top: 25px">
                <?= $orderData['mo_name']; ?>
            </td>
            <td>
                <img src="<?= $orderData['logo_src'] ?>" style="display: block; max-height: 60px; max-width: 132px; width: 100%; text-align: right;">
            </td>
        </tr>
    </table>
    <div style="margin-top: 30px;"></div>

    <div style="font-size: 32px; margin-bottom: 30px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; padding-left: 5px;">
        <b><?= __('Pick List') ?></b>
    </div>

    <table class="header" cellpadding="5px" style="table-layout: fixed; width: 100%; line-height: 10px; font-size: 13px; font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td style="text-align: left;"><?= __('Order #: ') . $orderData['increment_id']; ?></td>
        </tr>
        <tr>
            <td style="text-align: left;"><?= __('Order Date: ') . $orderData['date']; ?></td>
        </tr>
    </table>

    <!--SHIP-->
    <div style="margin-top: 30px;"></div>
    <table class="ship-info" cellpadding="5px" style="table-layout: fixed; width: 100%; line-height: 10px; background-color: #F6F6F8; display: inline-table; font-size: 13px; font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td style="width: 25%; padding-left: 15px; padding-top: 15px">
                <b><?= __('Ship to') ?></b>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left: 15px; padding-right: 15px;">
                <hr style="border-bottom: solid 2px #ebebef;">
            </td>
        </tr>
        <tr>
            <td style="width: 25%; padding-left: 15px;">
                <b><?= __('Name') ?></b>
            </td>
            <td style="width: 75%;">
                <p><?= $orderData['name']; ?></p>
            </td>
        </tr>
        <tr>
            <td style="width: 25%; padding-left: 15px;">
                <b><?= __('Address') ?></b>
            </td>
            <td style="width: 75%">
                <p><?= $orderData['address']; ?></p>
            </td>
        </tr>
        <tr>
            <td style="width: 25%; padding-left: 15px;">
                <b><?= __('Phone Number') ?></b>
            </td>
            <td style="width: 75%;">
                <p><?= $orderData['telephone']; ?></p>
            </td>
        </tr>
    </table>

    <!--ORDER ITEM-->
    <div style="margin-top: 30px;"></div>
    <table class="order-item" cellpadding="5px" style="table-layout: fixed; width: 100%; border-collapse: collapse; line-height: 10px; display: inline-table; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
        <tr style="line-height: 20px; background-color: #F6F6F8; font-weight: bold;">
            <td style="width: 30%;"><?= __('SKU') ?></td>
            <td style="width: 40%;"><?= __('Products') ?></td>
            <td style="width: 15%; text-align: right"><?= __('Quantity') ?></td>
            <td style="width: 15%; text-align: right"><?= __('Shipped') ?></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <?php foreach ($orderItems as $orderItem): ?>
            <?php if (!$vendorId):?>
                <?php if ($orderItem->getProductType() == "configurable"): ?>
                    <?php $childItems = $orderItem->getChildrenItems(); ?>
                    <?php foreach ($childItems as $item): ?>
                        <tr>
                            <td style="width: 30%; word-wrap: break-word; line-height: 20px;"><?= $item->getSku() ?></td>
                            <td style="width: 40%; word-wrap: break-word; line-height: 20px;"><?= $item->getName() ?></td>
                            <td style="width: 15%; text-align: right"> <?= $item->getQtyOrdered() * 1 ?> </td>
                            <td style="width: 15%; text-align: right"> _______ </td>
                        </tr>
                    <?php endforeach; ?>
                <?php else: ?>
                    <tr>
                        <td style="width: 30%; word-wrap: break-word; line-height: 20px;"><?= $orderItem->getSku() ?></td>
                        <td style="width: 40%; word-wrap: break-word; line-height: 20px;"><?= $orderItem->getName() ?></td>
                        <td style="width: 15%; text-align: right"><?= $orderItem->getQtyOrdered() * 1 ?></td>
                        <td style="width: 15%; text-align: right"> _______ </td>
                    </tr>
                <?php endif; ?>
            <?php else: ?>
                <?php if ($vendorId == $orderItem->getVendorId()): ?>
                    <?php if ($orderItem->getProductType() == "configurable"): ?>
                        <?php $childItems = $orderItem->getChildrenItems(); ?>
                        <?php foreach ($childItems as $item): ?>
                            <tr>
                                <td style="width: 30%; word-wrap: break-word; line-height: 20px;"><?= $item->getSku() ?></td>
                                <td style="width: 40%; word-wrap: break-word; line-height: 20px;"><?= $item->getName() ?></td>
                                <td style="width: 15%; text-align: right"> <?= $item->getQtyOrdered() * 1 ?> </td>
                                <td style="width: 15%; text-align: right"> _______ </td>
                            </tr>
                        <?php endforeach; ?>
                        <?php else: ?>
                            <tr>
                                <td style="width: 30%; word-wrap: break-word; line-height: 20px;"><?= $orderItem->getSku() ?></td>
                                <td style="width: 40%; word-wrap: break-word; line-height: 20px;"><?= $orderItem->getName() ?></td>
                                <td style="width: 15%; text-align: right"><?= $orderItem->getQtyOrdered() * 1 ?></td>
                                <td style="width: 15%; text-align: right"> _______ </td>
                            </tr>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </table>
</body>
